img {
	max-width: 100%;
	height: auto;
  box-sizing: border-box; 
}
img.landscape {
	max-width: 100%;
}
img.portrait {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

address {
	font-style: italic;
}

a {
  text-decoration: none;
}

hr {
  clear: both;
  margin: 0;
  display: block;
}
