{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
<div class="row">
  <div class="twelve columns">
    <h2>All articles</h2>
  </div>
</div>
{% endblock %}

<div id="post-list">
{% for article in articles_page.object_list %}
      <article class="hentry">
        <div class="row">
          <div class="twelve columns">
              <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
          </div>
        </div>
              <footer class="post-info">
                <div class="row">
                  <div class="one column"></div><div class="eleven columns">Published on {{ article.locale_date }} </div>
                </div>
                <div class="row">
                  <div class="one column"></div><div class="eleven columns">
                    <address class="vcard author">by
                    {% for author in article.authors %}
                        <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if loop.last %}.{% endif %}
                    {% endfor %}
                    </address>
                  </div>
                </div>
              </footer><!-- /.post-info -->
              <div class="entry-content"> 
                <div class="row">
                  <div class="twelve columns">{{ article.summary }}</div>
                </div>
                <div class="row">
                  <div class="one column"></div><div class="eleven columns"><a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a></div>
                </div>
              </div><!-- /.entry-content -->
      </article>
{% endfor %}
</div><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</section><!-- /#content -->
{% endblock content %}
