{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tag {{ tag }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
      <h1>{{ tag }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <ul>
      {% for article in articles %}
        <li>{{ article.date.strftime("%Y-%m-%d") }}: <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> posted by {% for author in article.authors %}<a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
      {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
