{% set IN_TAGS_HTML = True %}

{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
  <div class="row">
    <div class="twelve columns">
      <h1>Tags for {{ SITENAME }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <ul>
      {% if tags_sorted_by_article_length %}
        {%- for tag, articles in tags_sorted_by_article_length %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
        {% endfor %}
      {% else %}
        {%- for tag, articles in tags|sort %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
        {% endfor %}
      {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}
